html, body{
    background-color: #F7EEEA;
    width: 100%;
    height: 100%;

}

header > img {
    margin-right: 30px;
    float: left;
    width: 100px;
    height: 27px;
}
header{
    /* border: orange solid 2px; */
    margin: 0px 80px 10px 100px;
}
/* header > ul:hover{

} */
header button{
    float: right;
    border-radius:5px;
    margin-left:20px ;
    height: 40px;
    letter-spacing: 2px;
    
}

header a {
    padding: 12px;
    float: right;
    font-size: 16px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif ;
    color: #1D1D1D;
}
ul > li{
    text-decoration: underline;
    text-decoration-color: #F7EEEA ;
    float: left;
    font-size: 16px;
    font-weight: 800;
    list-style-type: none;
    font-weight: 500;
    padding: 5px;
    padding-right: 40px;
    font-family: Arial, Helvetica, sans-serif ;
}
ul > li:hover{
    text-decoration: underline;
    text-decoration-color: black ;
}


#try{
    margin-right:2%;
    border: #4A154B;
    font-weight: 500;
    background-color: #4A154B;
    color: white;
}
#contact{
    font-weight:700;
    border: 2px solid #4A154B;
    color: #4A154B;
}


li > ul{
    display: none;
}


section > div {
    margin: 50px 80px 80px 80px;
    float:left;
    font-family: Arial, Helvetica, sans-serif;
    width: 37%;
}
section p{
    font-size: 22px;
}
h1{
    width: 100%;
    font-size: 67px;
    margin-bottom: 10px;
}
#campaign{
    margin: 70px 100px 100px 80px;
    float: right;
}
#get{
    display: none   ;
}
#free{
    margin-right:5px ;
    border: 1px solid #4A154B;
    width: 130px;
    height: 55px;
    background-color:#4A154B ;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
}

#sign{
    border: 1px solid rgb(0, 110, 255);
    width: 250px;
    height: 55px;
    background-color:rgb(0, 110, 255) ;
    border-radius: 4px;
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
}
    
#images{
    /* align-items: center; */
    /* margin: 25px;
    padding: 35px;
    width: 200px;
    background-color: lightseagreen;
    border: 20px dashed indianred; */
    width: 100%;
    padding-left: 5.5%;
    padding-bottom: 6% ;
    float: left;
    margin: auto;
}
#a{
    margin-bottom:18px ;
    text-align: center;
    margin-right: 5.5%;
}
#b{
    /* border-top:100px solid #F7EEEA ; */
    text-align: center;
    margin-right: 5.5%;  
}
#c{
    margin-bottom:19px ;
    margin-right: 5.5%;  
}
#d{
    margin-bottom:6px ;
    margin-right: 5.5%;  
}
#e{
    margin-bottom:21px ;
    margin-right: 5.5%;  
}
#f{
    margin-bottom:21px ;
    margin-right: 5.5%;  
}
#g{
    margin-bottom:21px ;
    margin-right: 0;  
}

h2{
    font-size: 36px;
}
#Slack{
    font-size:20px ;
}
video{
    width:600px;
    height:500px;
    /* padding-top: 5%; */
    padding-right:7% ;
    float:right;
}




@media screen and (max-width: 699px){
    header > img {
        /* margin-right: 30px; */
        /* float: left;
        width: 100px;
        height: 27px; */
    }
    header{
        margin: auto;
        padding-top:7% ;
    }

    ul > li{
        display: none;
    }
    #try{
        display: none;
    }
    #contact{
        display: none;
    }
    header > a{
        display: none;
    }
    section > div{
        margin:5% 0% 0% 0% ;
        width: 100%;
    }
    h1{
        margin-bottom: 15px;
        font-size: 40px;
        float:left;
        width: 100%;
    }
    section p{
        letter-spacing: 0.2px;
        font-size: 19px;
        margin-bottom:40px ;
    }
    #free{
        display: none;
    }
    #sign{
        display:none;
    }
    #get{
        display: block;
        margin-right:5px ;
        border: 1px solid #4A154B;
        width: 100%;
        height: 55px;
        background-color:#4A154B ;
        border-radius: 4px;
        color: white;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom:40px ;
    }
    #campaign{
        width: 100%;
        margin: 0px 0px 0px 0px;
        float:none;
    }
    #a{
        margin: auto;
        text-align: center;
        margin-right: 10.93%;
        margin-left: 10.93%;
        margin-top: 5px; 
        margin-bottom:45px ;

    }
    #b{
        /* border-top:100px solid #F7EEEA ; */
        text-align: center;
        margin-right: 10.93%; 
        margin-top: 35px; 
        margin-bottom:25px ;
    }
    #c{
        margin-bottom:19px ;
        margin-right: 32.34%;  
        margin-left: 32.34%; 
    }
    #d{
        margin-left:2% ;
        margin-bottom: 24px ;
        margin-right: 5%;  
    }
    #e{
        margin-bottom:35px ;
        margin-right: 2%;  
    }
    #f{
        margin-left:12.62% ;
        margin-bottom:21px ;
        margin-right: 15.62%;  
    }
    #g{
        margin-bottom:21px ;
        margin-right: 12.62%;  
    }
    #images{
        /* align-items: center; */
        /* margin: 25px;
        padding: 35px;
        width: 200px;
        background-color: lightseagreen;
        border: 20px dashed indianred; */
        width: 100%;
        padding-left: 0;
        padding-bottom: 0;
        float: none;
        margin: 0px 0px 0px 0px;
    }
    video{
        display: none;
        /* width:95%; */
        /* padding-top: 5%; */
        /* padding-right:7% ; */
        /* float:none; */
    }
    h2{
        margin-top:20% ;
        font-size: 23px;
    }
    #Slack{
        font-size: 19px;
    }
}